@import url("https://fonts.googleapis.com/css2?family=VT323:ital,wght@0,400;0,900;1,700&display=swap");

@font-face {
  font-family: 'PixelCowboy';
  font-style: normal;
  font-weight: normal;
  src: local('PixelCowboy'), url('../fonts/PixelCowboy.otf') format('truetype');
}

@font-face {
  font-family: 'HelloVetica';
  font-style: normal;
  font-weight: normal;
  src: local('HelloVetica'), url('../fonts/hellovetica.ttf') format('truetype');
}
@font-face {
  font-family: 'PixelSix';
  font-style: normal;
  font-weight: normal;
  src: local('PixelSix'), url('../fonts/pixelsix00.ttf') format('truetype');
}

:root{
  --bg-colour: #3a3b42;
  --primary-colour: #e026a8;
  --secondary-colour: #21afb4;
  --transition: 0.5s;
}

html {
  scroll-behavior: smooth;
}

.content {
  width: 60%;
  margin: auto;
  padding: 10px;
  /*TEMP REMOVE WHEN READY*/ 
  border: 1px solid #e026a8;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  margin: 2rem;
}

.hero h2 {
  font-weight: 550;
}

.hero img{
  height: 28rem;
  width: 28rem;
  border-radius: 15px;
}

.bio {
  width:  25rem;
  padding: 0.6rem;
  border-radius: 5px;
  color: var(--secondary-colour);
  /*box-shadow: 0px 2px 15px 2px var(--secondary-colour);*/
}
.bio h1 {
  margin-bottom: 0.1rem;
}

.bio p {
  padding: 0.3rem 0;
}



.burger .icon {
  background: url('../images/borg.png')no-repeat;
  background-size: contain;
  height: 20px;
  width: 20px;
  display: block;
  /* Other styles here */
}

.burger{
  color: var(--primary-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-colour);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--secondary-color);
}

/* NAV BAR */

nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: var(--bg-color);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav a {
  color: var(--primary-colour);
  transition: var(--transition);
}

nav a:hover {
  color: var(--secondary-colour);
  border-bottom: 2px solid var(--primary-colour);
}

nav ul {
  display: flex;
  gap: 1rem;
}

nav h1 { /*class?*/
  font-family: 'PixelCowboy', sans-serif;
  font-style: italic;
  font-weight:100;
  color: var(--secondary-colour);
}

nav h1 a{
  color: var(--secondary-colour);
}

nav h1 a:hover{
  color: var(--primary-colour);
  border-bottom: 2px solid var(--secondary-colour);
}



/* BODY */
body {
  font-family: 'PixelSix', sans-serif;
}